AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
ELASTICSEARCH_URL=""
KIBANA_URL=
ELASTIC_API_KEY="=="
ES_CLOUD_ID=""
ES_API_KEY=""
ES_INDEX_NAME=content-*

AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
OPENAI_API_VERSION=""
AZURE_OPENAI_DEPLOYMENT=""
